<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla wegetarian</title>
        </head>
<body>
    <div>
        <h1>Wegejemy !</h1>
        <h2>Przepisy wegetariańskie</h2>
        <h3>Autor: Gabi M</h3>
    </div>
    <div>
        {% for post in posts %}
    </div>
    <div>
        {%comment%}
        Lista postów
        {%endcomment%}
        <p>Opublikowany {{ post.publish_date  }}</p>
        <h2><a href="">{{  post.title  }}</a></h2>
        <em>{{  post.text|linebreaksbr }}</em>
    </div>
    {% endfor %}
</body>
</html>